.weatherapp-border {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 30px;
    border-color: rgb(220, 235, 250);
    background-color: rgb(220, 235, 250);
    box-shadow: 2px 2px 2px 1px rgba(215, 220, 224, 0.4);
}
li {
    list-style: none;
    font-size: 15px;
}

footer {
    text-align: center;
    font-size: 14px;
}
h4:first-letter {
    text-transform: capitalize;
    
}
h4 {
    font-weight: normal;
    font-size: 20px;
}
#temperature {
    font-size: 48px;
}
.units {
    position: relative;
    top: -24px;
    font-weight: bold;
    font-size: 19px;
}
.card-body img {
    height: 64px;
    width: 64px;
    position: relative;
    top: -10px;
}
.card-body {
    text-align: center;
}
.forecast-min {
    opacity: 0.5;
}
